<!DOCTYPE html>
<html>
<head>
    <title>Kalkulator spożywanych kalorii</title>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    </style>
</head>


<body>

	 <div class="container">
		<div class="row">
			<div class="class">
				<h1>Kalkulator kalorii</h1>
				<hr>
				<form action="/kcal" method="post">

					<div class="form-group">
						<label for="">Podaj swoją wagę (kg):</label>
						<input type="text" class="form-control" type="text" name="question1">
					</div>

					<div class="form-group">
						<label for="">Podaj swój wzrost (m2):</label>
						<input type="text" class="form-control" type="text" name="question2">
					</div>

					<div class="form-group">
						<label for="">Podaj swój wiek (lata):</label>
						<input type="text" class="form-control" type="text" name="question3">
					</div>

					<div class="form-group">
						<label for="">Podaj swój styl życia:</label>
						<input type="text" class="form-control" type="text" name="question4">
					</div>

					<div class="form-group">
						<label for="">Podaj swoją płeć:</label>
						<input type="text" class="form-control" type="text" name="question5">
					</div>
					
					<button type="submit" class="btn btn-primary">Sing up</button>
				</form>
			</div>
		</div>
	 </div>
</body>
</html>